@font-face {
    font-family: 'Aldrich';
    src: url('./fonts/aldrich-regular-webfont.woff2') format('woff2'),
         url('./fonts/aldrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('./fonts/arimo-regular-webfont.woff2') format('woff2'),
         url('./fonts/arimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('./fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('./fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}