#root > section > .container-fluid > .row  {
  display: table !important;
  width: 100%;
}
.home-content-area .feed {width: 50%;}
.home-content-area .feed:first-child {width:100%;}

@media all and (max-width: 715px){
    .home-content-area .feed{
      width:100%;
    }
  
    .home-content-area .section .container{
      padding-right: 15px;
      padding-left: 15px;
    }
}