.w-button{
    display: inline-block;
    padding: 9px 15px;
    background-color: var(--home-wbutton-bg-color);
    color: var(--home-wbutton-color);
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* tabs */
    /*.tab-menu {
        position: relative;
        height:37px;
        margin:0;
        padding:0;
        list-style:none;
    }
    .d-tabs .tab-menu li{
      width:25%;
      float:left;
    }
    .homepage .tab-menu li{
      float:left;
      width: 33.3%;
      text-align: center;
    }
    .current-tab {
        background-color: var(--home-current-tab-bg-color);
    }
    .d-tabs{
      margin-top: 8px;
    }
    .tab{
      font-family: Montserrat, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 13px;
      position: relative;
      vertical-align: top;
      text-decoration: none;
      padding: 9px 30px;
      text-align: left;
      cursor: pointer;
      color: var(--home-tab-color);
      border-right: 1px solid var(--home-tab-border-color);
      background-color: var(--home-tab-bg-color);
      width:100%;
      display:block;
      text-align:center;
    }
    .tab:hover,
    .tab.active {
        background-color: var(--home-active-tab-bg-color);
        color:var(--home-active-tab-color);
        text-decoration:none!important;
    }
    .search-result .tab-menu{
      border-bottom: 1px solid var(--home-tab-menu-border-color);
      margin-top: 21px;
    }*/
  /* tabs */