#root .react-tabs__tab {
    color: var(--reacttabs-color);
    text-decoration: none!important;

    border-top: var(--reacttabs-border);
    border-left: var(--reacttabs-border);
    border-right: var(--reacttabs-border);
     
    background: var(--reacttabs-bg-image);
    transition: background-color 200ms linear;
    font-family: var(--react-tabs-tab-font);
    font-size: 1.2em;
    border-bottom: var(--reacttabs-selected-border);
}

#root .react-tabs__tab:last-child{
    background-image: none;
    border-top-right-radius: var(--reacttabs-border-radius);   
}
#root .react-tabs__tab--selected {
    border-radius: 0px;
}
#root .react-tabs__tab:first-child{
    border-top-left-radius: var(--reacttabs-border-radius);   
}

#root .react-tabs__tab:hover{
    background-color: var(--reacttabs-hover-bg-color);
    color: var(--reacttabs-hover-color);
    background-image: none;
}

/** for pure react tabs **/

.react-tabs__tab-list {
    margin:0 0 0px !important;
}

#root .react-tabs__tab.react-tabs__tab--selected {
    background: var(--reacttabs-selected-bg-color);
    color: var(--reacttabs-selected-color);
    border-bottom-color: transparent !important;
    border-left: var(--reacttabs-selected-border);
    border-right: var(--reacttabs-selected-border);
    border-top: var(--reacttabs-selected-border);
}

.home-content-area .react-tabs__tab, .search-content-area .react-tabs__tab {
    width: 50%;
    text-align: center;
}

.react-tabs__tab-panel {
    border-bottom: var(--reacttab-panel-border);
    border-left: var(--reacttab-panel-border);
    border-right: var(--reacttab-panel-border);
    border-bottom-left-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: var(--sidebar-border-radius);
}
